h1 {
  font-size: 25px;
  color: rgb(237, 16, 16);
  padding: 16px 10px 0px;
  background-color: #FFF;
  margin: 0;
}
nav {
  background-color: #FFF;
}
ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding-left: 0;
}
li {
  display: inline-block;
  padding: 8px 24px;
}
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.5;
}

.banner {
    height: 100px;
    margin: 0 auto;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
}
.banner h2 {
  font-size: 20px;
  font-weight: 200;
}

.banner a {
  text-decoration: none;
  color: #FFF;
  margin: 0px 40px;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 20px;
}
.masonry {
  column-count: 4;
  column-gap: 8px;
  padding: 8px;
}

.card {
  background-color: #FFF;
  display: inline-block;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 5px 5px 5px rgb(200,200,200);
  transform: translate(-5px);
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card h2 {
  font-size: 16px;
  text-align: center;
}

.card-info {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-info p,
.card-user p {
  font-size: 15px
}

.card-user img {
  width: 50px ;
  border-radius: 50%;
  height: 50px;
  margin-right: 5px;
}

/* Masonry on medium-sized screens */
@media (max-width: 1000px) {
  .masonry {
    column-count: 3;
  }
}
/* Masonry on medium-sized screens */
@media (max-width: 700px) {
  .masonry {
    column-count: 2;
  }
}
